:root {
    --primary-color: #146C94;
    --primary-color1: #D7EBED;
    --secondary-color: #2F2963;
    --background-color: #AFD3E2;
}

@font-face {
    font-family: "Monserrat";
    src: url("../assets/fonts/Monserrat/Montserrat-Regular.ttf") format("truetype");
}

header {
background-color: black;
}

body {
    background-color: var(--background-color);
    font-family: "Monserrat";
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-color1);
    padding: 1rem 5%;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-icon {
    width: 5rem;
    height: 5rem;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}

.nav-button {
    font-size: 1.1rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    background-color: var(--primary-color1);
    border-color: var(--primary-color1);
    border-style: solid;
}

.nav-button:hover {
    color: var(--primary-color);
}

.login-button {
    text-decoration: none;
    background-color: white;
    border-radius: 5px; 
    padding: 5px 10px;
    border-color: var(--primary-color);
    border-style: solid;
    border-radius: 5px;
    font-weight: 800;
}

.login-button:hover {
    text-decoration: none;
    background-color: var(--primary-color);
    border-radius: 5px; 
    padding: 5px 10px;
    border-color: var(--primary-color);
    border-style: solid;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

.register-button {
    text-decoration: none;
    background-color: white;
    border-radius: 5px; 
    padding: 5px 10px;
    border-color: var(--primary-color);
    border-style: solid;
    border-radius: 5px;
    font-weight: 800;
}

.register-button:hover {
    text-decoration: none;
    background-color: var(--primary-color);
    border-radius: 5px; 
    padding: 5px 10px;
    border-color: var(--primary-color);
    border-style: solid;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

.user-icon {
    width: 5rem;
    border-radius: 999px;
}

.user-icon:hover {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

.dashboard {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 50px;
    height: 800px;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 50px;
}

.dashboard-background {
    position: relative;
    width: 65%;
    padding: 50px;
}

#dash-img1 {
    position: absolute;
    top: 10%;
    left: 45%;
}

#dash-img2 {
    position: absolute;
    top: 37%;
    left: 15%;
}

.information {
    position: relative;
    width: 100%;
    /* height: 700px; */
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color1);
}

.info-head {
    align-items: start;
    width: 600px;
    padding: 30px;
    text-align: center;
}

.info-cards {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    padding: 50px 30px 150px 30px;
    align-content: center;
    gap: 70px;
}

.info-card {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--primary-color);
    text-decoration: none;
}

.info-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

.info-card-img {
    width: 180px;
}

.about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-head {
    align-items: center;
    text-align: center;
    padding: 30px;
}

.advantages {
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 5%;
    gap: 10px;
    align-content: center;
}

.adv-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    text-align: center;
}

.adv-image {
    width: 200px;
    height: 200px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color1);
    padding: 10px 5%;
}

.app {
    display: flex;
    flex-direction: column;
}

.apps {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social-img {
    width: 70px;
}

.agreement {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
    body {
      font-size: 12px;
    }
}

@media screen and (max-width: 900px) {
    html {
        
    }

    .info-cards{
        flex-direction: column;
    }
    
    .advantages {
        flex-direction: column;
        align-items: center;
    }
    
}