<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="web icon" href="../assets/icons/Logo.png">
    <link rel="stylesheet" href="../css/styles.css">
    <title>EDUKASI</title>
</head>
<body>
    <footer>
        <div class="footer">
            <div class="app">
                <h3>Juga tersedia di</h3>
                <div class="apps">
                    <a href="">
                        <img class="store-icon" src="../assets/icons/google-play.png" alt="google">
                    </a>
                    <a href="">
                        <img class="store-icon" src="../assets/icons/appstore.png" alt="appstore">
                    </a>
                </div>
            </div>
            <div class="logo">
                <img class="logo-icon" src="../assets/icons/Logo.png" alt="logo">
                <span>@<u>2023 EDUKASI</u></span>
            </div>
            <div class="social-media">
                <h3>Social Media</h5>
                    <div class="socials">
                        <a href="">
                            <img class="social-img" src="../assets/icons/Instagram.png" alt="Instagram">
                        </a>
                        <a href="">
                            <img class="social-img" src="../assets/icons/Facebook.png" alt="Facebook">
                        </a>
                        <a href="">
                            <img class="social-img" src="../assets/icons/Twitter.png" alt="Twitter">
                        </a>
                    </div>
                    <div class="agreement">
                        <a href="">Kebijakan Privasi</a>
                        <a href="">Syarat dan Ketentuan</a>
                    </div>
            </div>
        </div>
    </footer>
</body>
</html>