<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="web icon" href="../assets/icons/Logo.png">
    <link rel="stylesheet" href="../css/styles.css">
    <title>EDUKASI</title>
</head>

<body>
    <header>
        <div class="navbar">
            <a href="../public/home.php" style="text-decoration: none;">
                <div class="logo">
                    <img class="logo-icon" src="../assets/icons/Logo.png" alt="logo">
                </div>
            </a>
            <div class="nav">
                <a class="nav-button" href="#">Course</a>
                <ul>
                    <li>
                        <a href="">A</a>
                        <a href="">B</a>
                        <a href="">C</a>
                        <a href="">D</a>
                    </li>
                </ul>
                <a class="nav-button" href="#">Event</a>
                <a class="nav-button" href="#">Layanan</a>
                <a class="login-button" href="../public/login.html">Login</a>
                <a class="register-button" href="../public/register.html">Register</a>
            </div>
        </div>
    </header>
</body>

</html>